
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>FoxBound</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/app.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

  </head>
<body>
<!--Navbar -->
<!-- <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<span class="navbar-brand mb-0 h1"><a class="nav-item-active" href="/">FoxBound</a></span>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
			aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
				
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Home 
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item active">
							<a class="nav-link" href="/#instructions">Instructions
							</a>
						</li>
					<li class="nav-item">
						<a class="btn btn-success" href="/upload" role="button"><img src="{{ url_for('static', filename='img/play.png') }}" height="30px">Start</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
    <!--/.Navbar -->

	<header class="jumbotron jumbotron-fluid vertical-center" >
		<div class="container-fluid text-center text-align"> 
		   <h3 class="display-3">FoxBound Animal Detector</h3>
		   <p class="lead pb-4">This application runs object detection algorithm on images to detect the presence 
			<br> of animals in the images. 
			<br> Please begin the application by clicking the start button below. </p>
		   <p><a href="/upload" class="btn btn-success btn-lg" role="button"><img src="{{ url_for('static', filename='img/play.png') }}" height="30px">Start</a></p>
		</div>
	</header>

	<div id="instructions" class="container">
		<h4 class="display-4" style="text-align: center; margin-bottom: 20px;">Instructions</h4>
		<div class="row justify-content-center">
			<div class="card text-white text-center bg-primary  p-2 col-6 col-md-3 col-lg-3 mr-3 mb-3">
				<div class="card-img pb-3">
					<span style="display:inline-block;">
						<img src="{{ url_for('static', filename='img/play.png') }}", class="img-responsive" alt="Start">
					</span>
				</div>
				<div class="card-box">
					<h4 class="card-title display-5">Step 1: Start</h4>
					<p class="mbr-text display-7">Start the application by clicking on the Start button in the top right corner.</p>
				</div>
			</div>
			<div class="card text-white text-center bg-primary  p-2 col-6 col-md-3 col-lg-3 mr-3 mb-3">
				<div class="card-img pb-3">
					<span style="display:inline-block;">
						<img src="{{ url_for('static', filename='img/upload.png') }}", class="img-responsive" alt="Upload">
					</span>
				</div>
				<div class="card-box">
					<h4 class="card-title display-5">Step 2: Upload</h4>
					<p class="mbr-text display-7">Upload images/zip of images along with email address and click submit.</p>
				</div>
			</div>
			<div class="card text-white text-center bg-primary p-2 col-6 col-md-3 col-lg-3 mr-3 mb-3">
				<div class="card-img pb-3">
					<span style="display:inline-block;">
						<img src="{{ url_for('static', filename='img/wait.png') }}", class="img-responsive" alt="Wait">
					</span>
				</div>
				<div class="card-box">
					<h4 class="card-title display-5">Step 3: Wait</h4>
					<p class="mbr-text display-7">Wait for the model to process your images. You will receive notifications via email to track your progress.</p>
				</div>
			</div>
			<div class="card text-white text-center bg-primary p-2 col-6 col-md-3 col-lg-3 mr-3 mb-3">
				<div class="card-img pb-3">
					<span style="display:inline-block;">
						<img src="{{ url_for('static', filename='img/download.png') }}", class="img-responsive" alt="Download">
					</span>
				</div>
				<div class="card-box">
					<h4 class="card-title display-5">Step 4: Downlaod</h4>
					<p class="mbr-text display-7">Once complete, you will receive another email notification with the download link which is valid for only 1 week. </p>
				</div>
			</div>				
		</div>
	</div>
	<hr><hr>

	<div class="container">
	<div style="background: #0084ff; text-align: center; color: white;" class="container-fluid text-center text-align", id="credits"> 
		<h4 class="display-4">Credits</h4>
		<p class="lead pb-4">The original version of this tool was created by Wonhoe Bae, 
		  Vaishnavi Kommaraju, Moussa Siri, Shanu Vashishtha, and Arvind Govindarajan,
		  with support from the UMass-Amherst Data Science for the Common Good program 
		  in collaboration with The Nature Conservancy in Massachusetts. Cat Chamberlain
		  provided significant volunteer help on the project. Questions about this work can 
		  be directed to The Nature Conservancy by emailing us <a href="mailto:massachusetts@tnc.org">here</a>. </p>
	</div>
	</div>
</body>
</html>