<html>

	<head>
		<title> TNC App</title>
		<link rel="Stylesheet" href={{style_link}}>
		<link rel="Stylesheet" href={{spincss_link}}>


		<script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
	</head>
	<body>
		<h1>TNC App </h1>
		<div class="main">
			<h2> Dropzone Test </h2>
			<div class="dropzone" 
					ondrop="dropHandler(event)" 
					ondragover="dragOverHandler(event)" 
					ondragenter="dragenter(event)"
					ondragexit="dragexit(event)">
				<div id="dropzone_spinner"></div>
			</div>
		</div>
		<div class="main">
			<h2> Upload Zip File </h2>
			Please only submit zip files containing .jpeg images </b>
			<hr>
			<input id="file_upload" type="file">
			<button id="do_upload">Upload</button>
			<div id="upload_spinner"></div>
		</div>

		<div class="main">
			<h2> Tasks </h2>
			Queued and completed tasks will appear here. </b>
			Please allow 10-20 minutes for the model to produce results </b> 
			<hr>
			<table class="sortable">
				<thead>
					<tr><td>Filename</td><td>Upload Time</td><td> Output </td></tr>
				</thead>
				
				<tbody id="ddb_poll_table">

				</tbody>
			</table>
		</div>


	</body>
	<script src={{sorttable_link}}></script>
	<script src={{spinjs_link}}></script>
	<script src={{js_link}}></script>
</html>