.main{
	margin: 10px;
	padding: 10px;
	background-color: grey;
	
}

h1{
	margin-left: 10px;
}

h2{
	
	margin-top: 10px;
	margin-bottom: 10px;
}

thead{
	font-weight: bold
}


table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#upload_spinner{
	margin-left: 20px;
	display: inline-block;
}


.dropzone{
	height: 200px;
	background-color: #DCDCDC;
	border: 2px solid black;
	border-radius: 25px;
}

.dropzone.hover{
	background-color: #c2c2ea;
}

.dropzone.success{
	background-color: #dde8ab;
}

.dropzone.error{
	background-color:  #ffcdca;
}

#dropzone_spinner{
	position: relative;
	top: 50%;
}


.dz_decor{
	position: relative;
	top: 40%;
	text-align: center;
}

#dz_default_icon{
	font-size: 50px;
}


